# Owners that will be Notified if someone opens a pull request, GitHub automatically requests reviews from the code owners
* @jonathansoriano @patel5d2 @Wooflales @IanKellenberger

# Exclude README.md from code owner review

README.md
